---
import EpisodeLayout from "../layouts/EpisodeLayout.astro";
import astropodConfig from "../../.astropod/astropod.config.json";
---

<EpisodeLayout title="About" description={astropodConfig.description} cover={astropodConfig.cover}>
  {astropodConfig.description}
  <br>
  <br>
  <div style="text-align: Justify">
  Yang Berbahagia Dato’ Seri Dr. Haji Zulkifli Mohamad Al-Bakri (
  lahir 16 Januari 1969) merupakan mantan Menteri di Jabatan Perdana
   Menteri (Hal Ehwal Agama), mantan Ahli Dewan Negara dan mantan Mufti 
   Wilayah Persekutuan ke-7. Beliau juga adalah pengasas kepada Pondok 
   Moden al-‘Abaqirah, Majlis Agama Islam Wilayah Persekutuan dan sebuah
    institusi hadith baru iaitu Ma’alim al-Sunan li Dirasati al-Sunnah 
    al-Nabawiyyah, Majlis Agama Islam Wilayah Persekutuan. Kini 
    beliau merupakan anggota Muslim Council of Elders yang 
    dipengerusikan oleh Syeikh Al-Azhar, Dr. Ahmed Al-Tayeb 
    dan anggota Assembly of Muslim Jurists of America.  
    Beliau dilahirkan di Kampung Gong Pauh, Kemaman, Terengganu pada 
    16 Januari 1969 dan bersekolah di Sekolah Kebangsaan Rengas Bekah,
    Kuala Terengganu (1976-1981). Pendidikannya diteruskan di Sekolah 
    Menengah Agama Sultan Zainal Abidin (SMASZA), Ladang, Kuala 
    Terengganu (1982-1984) sebelum meneruskan pengajiannya dalam
    peringkat Thanawi di Sekolah Menengah Agama (Atas) Sultan Zainal 
    Abidin (SMAASZA), Batu Buruk, Kuala Terengganu (1985-1988). 
     <br>
     <br>
    Seterusnya, Datuk Dr. Zulkifli menyambung pula pengajiannya di
    peringkat Sarjana Muda Syariah di Universiti Islam Madinah 
       (1989-1993). Tidak hanya berhenti setakat itu, beliau menyambung
        pula pengajiannya di peringkat Sarjana Syariah di Universiti 
        al-Ulum al-Islamiah wa al-Arabiah di Damsyik, Syria (1994-1997) 
        di bawah seliaan Syeikh Prof. Dr. Mustafa al-Khin. Pengajian
         peringkat Doktor Falsafah (Ph.D) pula diambil di Pusat Pengajian
          Ilmu Kemanusiaan (School of Humanities), Universiti Sains Malaysi
          a (2002-2004) di bawah seliaan Prof. Dr. Radzi Othman. 
          Tajuk kajiannya adalah Institusi Mufti Dan Fatwa: Satu Analisa 
          Terhadap Enakmen Dan Beberapa Fatwa Pilihan Negeri Sembilan. 
           Kehidupan beliau semasa menyambung pengajian di Madinah dan
            Syria dimanfaatkan secara keseluruhannya untuk mempelajari
             ilmu-ilmu secara formal mahupun tidak formal. Selain kelas
             -kelas formal di Universiti, beliau juga giat mengikuti pengajian
              para ulama’ tersohor di sana secara sistem talaqqi. Antara gurunya 
              adalah Syeikh Muhammad Ali al-Thani, Syeikh Abd al-Muhsin bi
               Hamad al-Abbad, Syeikh Rusdi Bin Salim Qalam, Syeikh Dr. Muhammad
                al-Mukhtar bin Muhammad al-Amin Al-Shanqiti, Syeikh Sadiq
                 Habannakah, Syeikh Al-Muhaddith Abdul Qadir Al-Arnaut, Syeikh
                  Prof. Dr. Muhammad Abd Latif Soleh Al-Farfour, Syeikh Prof
                  . Dr. Mustafa al-Khin, Syeikh Prof. Dr. Muhammad Sa’id 
                  Ramadhan al-Bouti dan Syeikh Prof. Dr. Wahbah Mustafa 
                  al-Zuhayli  Sehingga kini, beliau telah menulis lebih 
                  300 buah buku meliputi pelbagai bidang dalam Pengajian 
                  Islam. Pengalaman luas beliau dalam pengurusan dan 
                  pentadbiran institusi kefatwaan, membolehkan beliau
                   melakarkan siri-siri kejayaan semasa menjawat jawatan
                    Mufti Wilayah Persekutuan sepanjang 2014 – 2017 dan
                     Menteri dalam Kabinet Malaysia pada 2020-2021.
</div>
</EpisodeLayout>

